*{margin: 0;padding: 0}

html, body {
    background: #222222;
    color: #cc6733;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;}

header {
    display: block;
    margin: 20px auto 0 auto;
    width: 100%;
    text-align: center;}
    
header h1 {
    font-family: Arial;
    font-size: 40px;
    font-weight: bold;}
    
header #botonComenzarPartida{
    padding: 15px;
    background-color: #961907;
    font-family: Arial;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;}

header #botonAyudar{
    padding: 15px;
    background-color: #961907;
    font-family: Arial;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;}

#header-botones {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}

.boton-header {
    flex-basis : 30%;
}

header #botonComenzarPartida:hover{
    background-color: #cc6733;}

header #botonAyudar:hover{
    background-color: #cc6733;}

header p{
    font-family: Arial;
    font-size: 20px;
    margin: 15px auto;}


#tablero {
    width: 800px;
    height: 800px;
    padding: 20px;
    margin: 20px auto;
    background-color: #3a3a3a;
    border-radius: 10px;
    position: relative;
}


.celda{
    outline: 1px solid #961907;
    font-family: Arial;
    font-weight: bold;
    font-size: 0px;
    line-height: 100px;
    text-align: center;
    color:#fff;
}

